* {
  box-sizing: border-box;
  line-height: 1.5;
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  text-align: center;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', cursive;
  margin: 0;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: -5px;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(10deg, white 0%, #efefc2 90%);
  animation: fadein 1.5s ease;
  overflow: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.button {
  margin: 4rem 0;
  background: black;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s ease;
  border: 1px solid black;
  &:hover {
    // background: ;
    transform: scale(1.05);
    background: white;
    color: black;
  }
}

section {
  flex-basis: 100%;
  max-width: 75em
}

.copy-block {
  margin: auto;
  width: 100%;
  max-width: 44em;
  text-align: left;
  line-height: 1.3;
  &--auto-width {
    width: auto;
    margin: auto;
    display: inline-block;
  }
}

.code-block {
  margin: auto;
  width: 100%;
  max-width: 44em;
  text-align: left;
  line-height: 1;
  background: rgba(0,0,0,0.75);
  border: 2px solid rgba(0,0,0,0.75);
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-top: 4rem;
  p {
    margin: 0.5rem 0;
  }
}

.indent[data-indent="1"] {
  text-indent: 1.5rem;
}

.indent[data-indent="2"] {
  text-indent: 3rem;
}

.indent[data-indent="3"] {
}

.tacky {
  display: inline-block;
  animation: flash 0.5s ease-in-out infinite alternate;
  padding: 0.5rem;
}

@keyframes flash {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

.ball {
  display: inline-block;
  margin: 0 1rem;
  width: 10rem;
  height: 10rem;
  background: radial-gradient(ellipse at 10% 10%, red 10%, black 100%);
  border-radius: 100%;
  &--small {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.bounce {
  animation: throw 1.5s 2s cubic-bezier(.61,-0.5,.05,.61) forwards;
  display: block;
  margin: auto;
}

@keyframes throw {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-1000%) translateX(100%);
  }
}

.squash {
  animation: squash 1.5s 2s ease-in-out infinite;
  transform-origin: bottom;
}
.bounce-container {
  animation: boring-bounce 1.5s 2s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes squash {
  0% {
    transform: scaleY(0.8) scaleX(1.2);
  }
  25% {
    transform: scaleY(1.2) scaleX(0.8);
  }
  50% {
    transform: scaleY(1) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes boring-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-rows {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.side-by-side-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  max-width: 70em;
  margin: auto;
  .copy-block, .animation-rows {
    margin: 2rem;
    width: auto;
  }
}


.linear-horizontal {
  animation: left-to-right 1.5s linear infinite alternate;
}
.ease-horizontal {
  animation: left-to-right 1.5s ease infinite alternate;
}
.ease-in-horizontal {
  animation: left-to-right 1.5s ease-in infinite alternate;
}
.ease-out-horizontal {
  animation: left-to-right 1.5s ease-out infinite alternate;
}
.ease-in-out-horizontal {
  animation: left-to-right 1.5s ease-in-out infinite alternate;
}
.slowinout-horizontal {
  animation: left-to-right 1.5s cubic-bezier(.74,.07,.31,.9) infinite alternate;
}
.bezier-horizontal {
  animation: left-to-right 1.5s cubic-bezier(0.68,-0.55,0.27,1.55) infinite alternate;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

img {
  height: 15rem;
}

.squash-container {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  margin: 0;
}

.horizontal-squash {
  margin: 0;
  animation: hor-squash 1.5s ease-in-out infinite;
}

@keyframes hor-squash {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  30% {
    transform: scaleY(1.2) scaleX(0.8);
  }
  45% {
    transform: scaleY(0.8) scaleX(1.2);
  }
  60% {
    transform: scaleY(1) scaleX(1);
  }
  70% {
    transform: scaleY(1.2) scaleX(0.8);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}