---
title: Anticipation & Follow Through
---

<section>
	<h1>Anticipation &<br> Follow Through</h1>

	<div class="copy-block">
		<p>Throw a ball up in the air and pay attention to your arm.</p>
		<p>There's an initial backswing and an overswing as you let go.</p>
		<p>Adding this to animation makes movement feel more realistic.</p>
	</div>

	<div class="animation-rows">
		<div>
			<span class="ball linear-horizontal"></span>
		</div>
		<div>
			<span class="ball bezier-horizontal"></span>
		</div>
	</div>

	<a href="/animation-timing.html" class="button">Continue</a>
</section>