---
title: Appeal
---

<section>
	<h1>Appeal</h1>

	<div class="copy-block">
		<p>This is why we do it.</p>
		<p>Creating a more charismatic animation give it personality and makes it resonate with people more.</p>
	</div>

	<div class="animation-rows">
		<div>
			<p>Compare a default ease-in-out</p>
			<span class="ball ease-in-out-horizontal"></span>
		</div>
		<div>
			<p>With something that uses everything we've seen today.</p>
			<span class="squash-container bezier-horizontal">
				<span class="ball horizontal-squash"></span>
			</span>
		</div>
	</div>

	<a href="/appeal.html" class="button">Continue</a>
</section>