---
title: Slow in, Slow out
---

<section>
	<h1>Slow in, Slow out</h1>

	<div class="copy-block">
		<p>Acceleration and decceleration happen everywhere.</p>
		<p>Throw your ball and pay attention how it slows and speeds up with gravity.</p>
		<p>When animating, the majority of the movement should happen in the middle of the animation.</p>
	</div>

	<div class="animation-rows">
		<div>
			<p>Ease and Ease-in-out do this be default.</p>
			<span class="ball ease-in-out-horizontal"></span>
		</div>
		<div>
			<p>Using cubic bezier to create an exaggerated ease-in-out makes it feel faster.</p>
			<span class="ball slowinout-horizontal"></span>
		</div>
		<div>
			<p>A cubic bezier with added anticipation & followthrough to really sell the speed!</p>
			<span class="ball bezier-horizontal"></span>
		</div>
	</div>

	<a href="/squash-and-stretch.html" class="button">Continue</a>
</section>