---
title: Squash & Stretch
---

<section>
	<h1>Squash & Stretch</h1>

	<div class="side-by-side-block">

		<div class="copy-block">
			<p>Helps to give a sense of weight to something.</p>
			<p>Which do you think looks like it exerts the most force?</p>
			<p>When applying S&S, try and maintain perceived volume.</p>
		</div>
		<div class="bounce-container">
			<span class="ball squash"></span>
			<span class="ball boring-bounce"></span>
		</div>
	</div>

	<div class="code-block">
		<p>@keyframes squash {</p>
  			<p class="indent" data-indent="1">0% {</p>
    			<p class="indent" data-indent="2">transform: scaleY(0.8) scaleX(1.2);</p>
  			<p class="indent" data-indent="1">}</p>
  			<p class="indent" data-indent="1">25% {</p>
    			<p class="indent" data-indent="2">transform: scaleY(1.2) scaleX(0.8);</p>
  			<p class="indent" data-indent="1">}</p>
  			<p class="indent" data-indent="1">50% {</p>
    			<p class="indent" data-indent="2">transform: scaleY(1) scaleX(1);</p>
  			<p class="indent" data-indent="1">}</p>
  			<p class="indent" data-indent="1">100% {</p>
    			<p class="indent" data-indent="2">transform: scaleY(1) scaleX(1);</p>
  			<p class="indent" data-indent="1">}</p>
		<p>}</p>
	</div>

	<a href="/appeal.html" class="button">Continue</a>
</section>