---
title: Thank you
---

<section>
	<h1>Thank you!</h1>

	<div class="copy-block">
		<p>Any question?</p>
		<p>The site will be circulated after the call :)</p>
	</div>

	

	<a href="/" class="button">Start over</a>
</section>