---
title: Welcome
---

<section>
	<h1>Welcome!</h1>

	<div class="copy-block">
		<p>Today we'll be discussing some of the 12 animation principles, and how we can use them in our work to make things <em>fancy</em>!</p>
		<p>We'll briefly go over how to set up animation with CSS, but this won't be a code tutorial.</p>
		<p>For those at home, you'll need something to throw in the air.</p>
	</div>

	<a href="/prefers-reduced-motion.html" class="button">Continue</a>
</section>